<h2>自己紹介</h2>
<hr>
<dl>
  <dt>
    名前
  </dt>
  <dd>
    細部理子
  </dd>
  <br>
  <dt>
    自己紹介
  </dt>
  <dd>
    こんにちは
  </dd>
</dl>
<a class="btn btn-default" href="#" role="button">Link</a>
<button class="btn btn-default" type="submit">Button</button>
<input class="btn btn-default" type="button" value="Input">
<input class="btn btn-default" type="submit" value="Submit">
